#gm-campus-fun {
    background: url(../images/signDrive-fun.jpeg) 50% 0 no-repeat fixed;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
    height: auto;
}
#gm-campus-cruze {
    background: url(../images/gm-slices/cruze/cruzeback.jpg) 50% 0 no-repeat fixed;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
    height: auto;
}
#cruze-vehicle{
    position: absolute;
}
#cruze-left-menu{
    position: absolute;
}
#gm-campus-spark {
    background: url(../images/signDrive-spark.jpeg) 50% 0 no-repeat fixed;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
    height: auto;
}
#gm-campus-sonic {
    background: url(../images/signDrive-sonic.jpeg) 50% 0 no-repeat fixed;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
    height: auto;
}