#gm-campus-fun {
    background: url(../images/signDrive-fun.jpeg) 50% 0 no-repeat fixed;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
    height: auto;
}
#gm-campus-cruze {
    background: url(../images/gm-slices/cruze/cruzeback.jpg) 50% 0 no-repeat fixed;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
    height: auto;
}
#cruze-vehicle{
    position: absolute;
    max-width: 100%;
}
#cruze-left-menu{
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 100%;
}
#cruze-header{
    position: absolute;
    width: 100%;
}
#spark-vehicle{
    position: absolute;
    max-width: 100%;
}
#spark-left-menu{
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 100%;
}
#spark-header{
    position: absolute;
    width: 100%;
}
#gm-campus-spark {
    background: url(../images/gm-slices/spark/sparkback.jpg) 50% 0 no-repeat fixed;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
    height: auto;
}
#gm-campus-sonic {
    background: url(../images/signDrive-sonic.jpeg) 50% 0 no-repeat fixed;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
    height: auto;
}