#gm-campus-cruze {
    background: url(../images/gm-slices/cruze/cruzeback.jpg) 50% 0 no-repeat fixed;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
    height: auto;
}
#cruze-vehicle{
    position: absolute;
    max-width: 100%;
}
#cruze-left-menu{
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 100%;
}
#cruze-header{
    position: absolute;
    width: 100%;
}
.headlights{
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}
#spark-vehicle{
    position: absolute;
    max-width: 100%;
}
#spark-left-menu{
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 100%;
}
#gm-campus-spark {
    background: url(../images/gm-slices/spark/sparkback.jpg) 50% 0 no-repeat fixed;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
    height: auto;
}
#gm-campus-sonic {
    background: url(../images/gm-slices/sonic/background.png) 50% 0 no-repeat fixed;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
    height: auto;
}
#sonic-vehicle{
    position: absolute;
    max-width: 100%;
}
#sonic-left-menu{
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 100%;
}
.gm-slide-header{
    position: absolute;
    width: 100%;
}