body{
    font-family: Verdana, Geneva, sans-serif;
    color: #FFF;
}
.image-container {
    max-width: 40%;
}
.wrapper{overflow: hidden;}
li{margin-top: 3px;}
.story {
    height: 864px;
    padding: 0;
    width: 100%;
    max-width: 1920px;
    position: relative; 
    margin: 0 auto;
    overflow: hidden;
}
.contain {
    margin-right: auto;
    margin-left: auto;
    width: 940px;
}
.cell3 {
    width: 220px;
    float: left;    
}
.cell4 {
    float: left;
    width: 300px;
}
.transition{ height:700px; margin: 0 auto; width: 100%; }
.compass-transition{
    background: url(../images/compass-transition.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc); 
}
.leaf-transition{
    background: url(../images/leaf-transition.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
.scene {
    position: fixed;
    width: 940px;
    overflow: hidden;
}
.scene>img {
    position: absolute;    
}
.white-button {
    background-image:url(../images/01/down-arrow-white.png);
}
.green-button{
    background-image:url(../images/02/down-arrow-green.png);
}
.white-button:hover, .green-button:hover{
    cursor:pointer;
}
.downBtn {
    position: absolute;
    display: block;
    left: 50%;
    bottom: 5%;
    margin-left: -25px;
    display: block; 
    z-index: 1000;
    height: 40px;
    width: 66px;
}

/* Team */

#team{
    background: url(../images/01/background-green.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#team .pics-container {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 10%;
    position: relative;
}
.specialty_list li{
    margin-left: 25px;
}
#teamMemberDialog{
    position: relative;
}
#team .banner{
    top: 0;
    width: 100%;
    height: 100px;
    overflow: hidden;
    background-image: url(../images/05/headerbar.png);
}
#teamMemberDialog .banner{
    overflow: hidden;
    height: 100px;
    background: url(../images/05/headerbar.png);
    -webkit-box-shadow: 0px 4px 7px rgba(50, 50, 50, 0.55);
    -moz-box-shadow:    0px 4px 7px rgba(50, 50, 50, 0.55);
    box-shadow:         0px 4px 7px rgba(50, 50, 50, 0.55);
    behavior: url(PIE.htc);
}
.teamTextPic{
    position: absolute;
    top: 45px;
    left: 10px;
    font-size:2.0em;
}
.bannerLeaf{
    position: relative;
    left: 45%;
    height: 345px;
    z-index: 1;
}
#teamMember{
    z-index:1000;
}
.profile-pic {
    float: left;
    width: 200px;
    margin-right: 8px;
}
#teamMember .profile-details{
    margin-top: 8px;
    font-size: 1.1em;
}
#teamMember .main {
    
}
#teamMember .profile-details span{
    margin-top: 20px;
}
#team .profile-box {
    max-height: 220px;
    margin: 2px;
    height: 175px;
    overflow: hidden;
    background: url(../images/05/profile-box.png) no-repeat fixed;
 }
#team .various < img{
    /*width: 220px;
    height: 255px;*/
    max-width: 95%;
}
#team .profile-bio {
    margin-left: 200px;
    background-color: lime;
}​
.ui-tooltip, .arrow:after {
    background: black;
    border: 2px solid white;
}
.ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
    width: 135px;
    max-width: 135px;
}
.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}

#logo-container{
    text-align: center;
    overflow: hidden;
}
/*#logo{margin-top: 3%;}*/

#first article { width: 100%; top: 300px; position: absolute; text-align: center; }
#first article p,
#first article a { color: #ccc; }
#first article a { text-decoration: underline; }
#first article a:hover { color: #fff; }

#who-we-are {
    background: url(../images/02/background-white.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#who-we-are .banner{
    background-image: url(../images/02/header.jpg);
    background-size: 1700px 200px;
    top: 0;
    width: 100%;
    height: 200px;
    left: 0;
    right: 0;
    overflow: hidden;
}
#who-we-are #easel{
    position: relative;
    left: 7%;
    margin-top: -3%;
}
#who-we-are #result-driven{
    top:23%;
    position: relative;
}
#who-we-are #bishop {
    position: absolute;
    bottom: 3%;
}
#who-we-are #sound-in-strategy{
    /*bottom:20%;*/
    top: 65%;
    left:12%;
    position: relative;
}
#who-we-are #sound-strategy {
    background: url(../images/02/sound-strategy.png) transparent 15% 100px no-repeat fixed;
    min-height: 1000px;
    padding: 0;
    width: 100%;
    max-width: 1920px;
    position: absolute;
    margin: 0 auto;
}
#brand-loyalty{
    position:relative;
    top:40%;
    left: 15%;
}
.mint-logo-small{
    position:absolute;
    bottom:5%;
    right:5%;
    width: 130px;
    height: 67px;
}

.mint-logo-small.green {
    background-image: url(../images/mint-logo-small-green.png);
}

.mint-logo-small.white {
    background-image: url(../images/mint-logo-small-white.png);
}

#core-services{
    background: url(../images/06/green-background.jpg) 50% 0 no-repeat fixed;
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}

#core-services .digital-campaigns{
    position: relative;
    margin-top: 55%;
    /*max-width: 90%;*/
}
#core-services .amp{
    position: absolute;
    top: 45%;
    /*left: 45%;*/
}
#core-services .core-services{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 5%;
}
#core-services .spotlights{
    position: relative;
    /*top: 15%;*/
    left: 20%;
}

#core-services-roundup {
    background: url(../images/07/background-white.jpg) 50% 0 no-repeat fixed;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#core-services-roundup .banner{
    top: 0;
    /*position: absolute;*/
    width: 100%;
    height: 100px;
    background-image: url(../images/07/headerbar-green.png);
    left: 0px;
    right: 0px;
    overflow: hidden;
}

#core-services-roundup .service{
    opacity: 0;
}
#core-services-roundup .corporate-identity{
    position: relative;
}
#core-services-roundup .content-management{
    position: relative;
}
#core-services-roundup .exp-marketing{
    position: relative;
    margin-top: 5%;
    margin-left: 65%;
}
#core-services-roundup .advertising{
    position: relative;
    margin-top: 15%;
}
#core-services-roundup .public-relations{
    position: relative;
    margin-top: 5%;
    margin-left: -15%;
}
#core-services-roundup .digital-web{
    position: relative;
}
#core-services-roundup .videography{
    position: relative;
    margin-top: 10%;
}
#core-services-roundup .seo{
    position: relative;
    margin-top: 5%;
    margin-left: 40%;
}
#core-services-roundup .market-research{
    position: relative;
    margin-left: 30%;
}
#core-services-roundup .social-media{
    position: relative;
    margin-top: 15%;
    margin-left: 65%;
}
#advertising{
    background: url(../images/07-01/background-purple.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 2000px;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);   
}
#content-management{
    background: url(../images/07-02/background-orange.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 2000px;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);   
}
#corporate-identity{
    background: url(../images/07-03/background-teal.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 2000px;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);   
}
#digital-web{
    background: url(../images/07-04/background-lightblue.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 2000px;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#experiential-marketing{
    background: url(../images/07-05/background-red.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 2000px;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#market-research{
    background: url(../images/07-06/background-lightgreen.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 2000px;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#public-relations{
    background: url(../images/07-07/background-brown.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 2000px;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#seo{
    background: url(../images/07-08/background-yellow.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 2000px;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);  
}
#social-media{
    background: url(../images/07-09/background-gray.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 2000px;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);  
}
#video-production{
    background: url(../images/07-10/background-magenta.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 2000px;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
.inner img{
    top: 30%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.inner #icons{
    margin-top: 3%;
}
.inner{ text-align: center;}
.inner .text{
    color: #fff;
    font-size: 1.5em;
    margin-top: 5%;
    line-height: 1.3em;
}
.fluid{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    top: 30%;
    position: relative;
}
.fluid [class*="span"]:first-child {
    margin-left: 0;
}
.fluid .fullRow {
    width: 100%;
}
#our-process{
    background: url(../images/08/background-green.jpg) 50% 0 no-repeat fixed;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#our-process #our-process-text{
    top: 5%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#our-process .row-fluid .span3{
    text-align: center;
    margin-top: 5%;
}
.our-process-div{
    text-align: center;
    margin-left: 0px;
    margin-top: 15px;
    font-size: 1.3em;
}
#generations-gap{

}
#preferred-text{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    top: 5%;
}
#generations-gap .row-fluid{margin-top: 6%;}
#generations-gap .gap-title{margin-bottom: 2%;}
#generations-gap .span3{ text-align: center;}
#clients{
    background: url(../images/10/background-white.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#clients #client-text{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 50%;
    height: 30px;
}
#portfolio{
    background: url(../images/11/background-green.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
.portfolio-philanthropy-slider-next {
    position: relative;
    top: 35%;
    /*right: 3%;*/
    cursor: pointer;
}
.portfolio-philanthropy-slider-prev {
    position: relative;
    top: 35%;
    /*right: 3%;*/
    cursor: pointer;
}
#portfolio .contain {
    top: 20%;
    position: relative;
    width: 980px;
}
#portfolio #portfolio-text{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 50%;
    height: 30px;
    margin-top: 20px;
}
#portfolio .container{
    margin-top: 10%;
    position: relative;
}
.portfolio-slider-btn{
    position: relative;
    top: 35%;
    cursor: pointer;
}
.client-name{
    text-align: left;
    color: grey;
    font-size: 2.4em;
    margin: 1%;
}
.mac{
    width: 80%;
    margin-top: 3%;
}
.portfolio-slide{
    background: url(../images/10/background-white.jpg) 50% 0 no-repeat fixed;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
    width: 2000px;
}
#video{
    background: url(../images/12/background-green.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#video #watch{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 20%;
    height: 30px;
    margin-top: 20px;
}
#video #play{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 40%;
}
#video #play-video-container{
    position: relative;
    text-align: center;
    top: 30%;
}
#our-goal{
    background: url(../images/13/background-white.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#spark-emotion{
    position: relative;
}
#our-goal #educate-consumers {
    position: relative;
}
#our-goal #incentive {
    position: relative;
}
#our-goal #conversation {
    position: relative;
}
#our-goal-text{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 10%;
}
#target-segment{
    background: url(../images/14/00background-cloudpage.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#our-target-text{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 10%;
}
#millenials-text{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 15%;
}
#purchasing-power{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 20%;
}
#boomers{
    position: relative;
    display: block;
    top: 15%;
    left: 5%;
}
#digital-ads{
    position: relative;
    margin-left: auto;
    display: block;
    /*top: 10%;*/
    right: 5%;
}
#stimulation{
    position: relative;
    left: 25%;
    display: block;
    top: 5%;
}
#persuade{
    position: relative;
    margin-left: auto;
    display: block;
    right: 15%;
    top: 5%;
}
#high-loyalty{
    position: relative;
    left: 40%;
    display: block;
}
#engagement{
    position: absolute;
    left: 10%;
}
#cloud1{
    height:692px;
    background: url(../images/14/03cloud.png);
    margin-top:-346px;
    top:100%;
}
#cloud2{
    height:484px;
    background: url(../images/14/03cloud.png);
    margin-top:-242px;
    top:90%;
}
#cloud3{
    height:444px;
    background: url(../images/14/03cloud.png);
    margin-top:-222px;
    top:70%;
}
#cloud4{
    height:444px;
    background: url(../images/14/03cloud.png);
    margin-top:-222px;
    top:70%;
}#cloud5{
     height:444px;
     background: url(../images/14/03cloud.png);
     margin-top:-222px;
     top:70%;
 }#cloud5{
      height:444px;
      background: url(../images/14/03cloud.png);
      margin-top:-222px;
      top:70%;
  }#cloud6{
       height:444px;
       background: url(../images/14/03cloud.png);
       margin-top:-222px;
       top:70%;
   }
#cloud7{
    height:444px;
    background: url(../images/14/03cloud.png);
    margin-top:-222px;
    top:70%;
}
#cloud8{
    height:444px;
    background: url(../images/14/03cloud.png);
    margin-top:-222px;
    top:70%;
}
#excitement{
    background: url(../images/15/00.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0%;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#excitement-text{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 15%;
}
#win-win{
    background: url(../images/17/background-green.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#win-win-text{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 25%;
}
#always-win-text{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 15%;
}
#win-win-container{
    /*text-align: center;*/
    margin: 0 auto;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    display: table;
    top: 30%;
    position: relative;
}
#win-win-case{
    color: #FFF;
    font-size: 1.5em;
}
#win-win-case li{
    margin-top: 35px;
}
/*#win-win-case li { display: inline-block; }*/
#thank-you{
    background: url(../images/18/background-last.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#thank-you-text{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 35%;
}
/* Home Slide */
#home {
    background: url(../images/01/background-green.jpg) 50% 0 no-repeat fixed;
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#home img.bg {
    /* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;
			
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
			
	/* Set up positioning */
	position: fixed;
}
#home .mintlogo {
    background: url(../images/01/mint-logo.png) 50% 100px no-repeat fixed;
    min-height: 1000px;
    padding: 0;
    width: 100%;
    max-width: 1920px;
    position: relative; margin: 0 auto;
    overflow: hidden;
}
#logo-container{text-align: center;z-index: 100;position: relative;}
#home #logo{max-width: 50%;}
#home article { width: 100%; top: 300px; position: absolute; text-align: center; }
#home article p,
#home article a { color: #ccc; }
#home article a { text-decoration: underline; }
#home article a:hover { color: #fff; }

/* Our Mission */
#mission {
    background: url(../images/03/background-green-glow.jpg) 50% 0 no-repeat fixed;
    margin: 0 auto;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#mission-container{position: relative;}
#mission #our-mission-is {
    top: 15%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#mission #evolve-brands{
    top: 20%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 80%;
}
#mission #mint-leaf{
    top: 30%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#leadership-1 {
    background: url(../images/04/background-white.jpg) 50% 0 no-repeat fixed;
    width: 2000px;
}
#leadership-2 {
    background: url(../images/04A/background-leadership.jpg) 50% 0 no-repeat fixed;
    width: 2000px;
}
#leadership {
    background: url(../images/04/background-white.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
.gale-container{
    bottom: -60px;
    position: relative;
}
#leadership-1 .leadership-text{
    height: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}
#leadership-2 .leadership-text{
    height: auto;
    margin-top: -1%;
}
#leadership .gale-pic{
    position: relative;
    bottom: -10%;
    left: -5%;
    height: auto;
}
.leadership-slider-prev {
    position: relative;
    top: 45%;
    z-index: 999;
    cursor: pointer;
}
#leadership #leadership-gale-text{margin-left: 15%;max-width: 80%;}
#leadership #leadership-learn-more 
{
    cursor: pointer;
    margin-top: 2%;
    margin-bottom: 2%;
}
#leadership-gale-bio {
    position: relative;
    margin-top: 7%;
    z-index: 999;
}
#leadership #leadership-experience{
    position: relative;
    top: 85%;
    left: 25%;
}
.leadership-slider-next{
    position: relative;
    left: 10%;
}

/* HTML5 Video */
/*#fourth article {  margin-left: 10%; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; color: #fff; position: absolute; top: 0; }*/
/*#fourth article p { width: 300px; margin: 50px 0; }*/
/*#fourth video { position: fixed; left: 50%; box-shadow: 0 0 25px rgba(0,0,0,0.7); z-index: 1;}*/

/* The End */
/*#theend .byebye { background: url(../images/theend.png) 40% 100px no-repeat fixed; height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }*/


.sub-page1{
    z-index: 900;
}
.sub-container{
    position: absolute;
    top: 0px;
    width: 100%;
    max-width: 1600px;
    min-width: 960px;
    height: 100%;
    left: 100%;
    overflow: hidden;
    background: #000;
    z-index: 999;
}
.sub-page{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    left: 100%;
    max-width: 1600px;
    min-width: 960px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 0;
}
.greybg{
    background: url(../images/grey_bg.jpg);
    background-position: 50% 0;
    background-repeat: no-repeat;
}

.close-all{
    position: absolute;
    top: 50px;
    right: 50px;
    text-align: center;
    width: 45px;
    height: 45px;
    background-position: right bottom;
    background-color: #000;
    -moz-transition: background-color 0.2s ease 0s;
    -webkit-transition: background-color .2s;
    o-transition: background-color .2s;
}

.close-all:hover{
    background-color: #777;
}
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
#three div.ingress{
    width: 960px;
    margin: 0 auto;
    margin-top: 30px;
}
#wrapper{
    position: fixed;
    height: 1000px;
    width: 100%;
    max-width: 1600px;
    min-width: 960px;
    top: 0;
    overflow: hidden;
}








#topNav .wrap .logo {
    background: url(../images/saucony/topNav-logo.png) no-repeat;
    float: left; margin-left: 75px;
    width: 103px; height: 47px;
}

#topNav .wrap h1 {
    float: right;
    color: #fff;
    font-family: "Interstate Black";
    font-size: 0.938em;
    letter-spacing: -1px;
    margin-right: 75px;
    font-weight: bold;
    margin-top: 23px;
    line-height: 0.74em;
}


/* Start Sceen Social */
#social { text-align:right; padding-right: 72px; padding-top: 24px; }
#social button { cursor: pointer; margin-left: 3px; }
#social button.socialFacebook {
    border: 0px; outline: 0px;
    background: url(../images/saucony/social-icons.png) no-repeat 0 0;
    width: 36px; height: 35px;
    text-indent: -99999px;
}
#social button.socialFacebook:hover { background-position: 0 -35px; }
#social button.socialTwitter {
    border: 0px; outline: 0px;
    background: url(../images/saucony/social-icons.png) no-repeat -36px 0;
    width: 36px; height: 35px;
    text-indent: -99999px;
}
#social button.socialTwitter:hover { background-position: -36px -35px; }

/* Start Sceen Content */
#startScreenWrap {
    width: 1020px;
    height: 650px;
    position: absolute;
    top: 120px;
    display: none;
}

#startScreenWrap h1 {
    font: normal 5.250em/0.833em "Interstate Black";
    color: #fff;
    letter-spacing: -2px;
    margin-bottom: 25px;
}

#startScreenWrap h2 {
    font: normal 2.750em/0.909em "Interstate Black";
    color: #000;
    letter-spacing: -2px;
    text-transform: uppercase;
}

#startScreenWrap div.shoeSplash {
    position: absolute;
    left: 0; top: 150px;
    text-align: right;
    z-index: 0;
}
#startScreenWrap p { position: relative; z-index: 10; }
#startScreenWrap p a {
    color: #D41010; text-decoration: none;
    font: bold 1.081em Interstate;
    text-transform: uppercase;
    background: url('../images/saucony/home-shoesplash-link-arrow.png') 0 3px no-repeat;
    padding-left: 13px;
    z-index: 10;
}

#startScreenWrap p a:hover {
    color: #fff;
    background-position: 0 -17px;
}

#intro {
    color: #8d8d8d;
    font: 0.813em/1.3em Helvetica;
    width: 740px;
    margin-left: 52px;
    margin-bottom: 20px;
    font-weight: bold;
}
#usbStrap {
    background: url(../images/saucony/startPage-usb-strap.png) no-repeat;
    width: 1000px; height: 142px;
}
#usbStrap h2 {
    font-family: "Interstate Black";
    font-size: 1.559em;
    color: #fff;
    font-weight: normal;
    letter-spacing: -0.01em;
    padding: 26px 0 0 390px;
}

#startScreen #startShoes {
    position: absolute;
    z-index: 5;
    display: block;
    right: 0;
    bottom: 0;
    margin-left: 85px;
}



.persp_background {
    width: 2100px;
    height: 1500px;
    position: absolute;
}
#flexfilm-bg { background: url('../images/saucony/build-bg-1.png') repeat-x; }
#upper-bg { background: url('../images/saucony/build-bg-2.png') repeat-x; }
#progrid-bg { background: url('../images/saucony/build-bg-3.png') repeat-x; }
#midsole-bg { background: url('../images/saucony/build-bg-4.png') repeat-x; }
#sole-bg { background: url('../images/saucony/build-bg-5.png') repeat-x; }

.glow {
    width: 1600px;
    height: 1050px;
    position: absolute;
}

#contentWrap { display: none; }
#contentWrap section {
    position:relative;
    overflow:hidden;
    margin: 0;
    padding: 0;
}

.quote {
    position: absolute;
    width: 300px;
    font-weight: bold;
    opacity: 0;
    filter: alpha(opacity=0);
}
.quote p { margin-bottom: 8px; }
.quote1_1 { color: #a7a7a7; font-size: 1.125em; line-height: 1.111em; }
.quote1_2 { color: #4a4a4a; font-size: 0.750em; line-height: 1.167em; }

.quote2_1 { color: #a7a7a7; font-size: 0.938em; line-height: 1.133em; }
.quote2_2 { color: #8e8e8e; font-size: 0.750em; line-height: 1.167em; }

.quote3_1 { color: #737373; font-size: 1.125em; line-height: 1.111em; }
.quote3_2 { color: #000000; font-size: 0.750em; line-height: 1.167em; }

.quote4_1 { color: #666666; font-size: 0.750em; line-height: 1.167em; }
.quote4_2 { color: #818181; font-size: 1.016em; line-height: 1.137em; }

.quote5_1 { color: #9a9a9a; font-size: 0.938em; line-height: 1.200em; }
.quote5_2 { color: #666666; font-size: 0.750em; line-height: 1.167em; }

.btnScrollLeft {
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    box-shadow: -1px 1px 1px rgba(51, 51, 51, 0.18);
    -moz-box-shadow: -1px 1px 1px rgba(51, 51, 51, 0.18);
    -webkit-box-shadow: -1px 1px 1px rgba(51, 51, 51, 0.18);
}
.btnScrollRight {
    border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    box-shadow: -1px 1px 1px rgba(51, 51, 51, 0.18);
    -moz-box-shadow: -1px 1px 1px rgba(51, 51, 51, 0.18);
    -webkit-box-shadow: -1px 1px 1px rgba(51, 51, 51, 0.18);
}
.touchslider-viewport {
    height: 900px;
    overflow: hidden;
}
.services-prev {
    position: absolute;
    top: 45%;
    left: 3%;
    cursor: pointer;
}
.services-next {
    position: absolute;
    top: 45%;
    right: 3%;
    cursor: pointer;
}
#services-menu{
    position: absolute;
    z-index: 1;
    color: #DDD;
    list-style: none;
    width: 25%;
}
#services-menu > li{
    cursor: pointer;
}
#services-menu > li > a{
    color: white;
    text-decoration: none;
}
.services-nav-item-current{
    font-weight: bold;
    margin-left: 5%;
    font-size: 1.2em;
}