/**
 * Parallax Scrolling Tutorial
 * For Smashing Magazine
 * July 2011
 *  
 * Author: Richard Shepherd
 *		   www.richardshepherd.com
 * 		   @richardshepherd   
 */

article h2 { font-family: 'Lobster Two'; font-size: 60px; margin: 25px 0; line-height: 1em; }

.story {
    height: 864px;
    padding: 0;
    width: 100%;
    max-width: 1920px;
    position: relative; margin: 0 auto;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.4);
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    overflow: hidden;



    /*width: 100%;*/
    /*max-width: 1600px;*/
    /*min-width: 960px;*/
    /*overflow: hidden;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*height: 864px;*/
    /*margin: 0 auto;*/
    /*background: #fff;*/
    /*background-repeat: no-repeat;*/
    /*background-position: 50% 0;*/
    /*margin-top: 0px;*/
    /*-moz-box-shadow: 0 0 12px #666;*/
    /*-webkit-box-shadow: 0 3px 8px #333;*/
    /*-o-box-shadow: 0 1px 5px #000;*/
    /*box-shadow: 0 1px 5px #000;*/
}
.transition{ height:700px; margin: 0 auto; width: 80%; }
.scene {
    position: fixed;
    width: 940px;
    overflow: hidden;
}

.scene>img {
    position: absolute
}
.nav-button{
    display:block;
    width:66px;
    height:40px;
    position:absolute;
    bottom:10%;
    left:50%;
    background-image:url(../images/01/down-arrow-white.png);
}
.nav-button:hover, .green-button:hover{
    cursor:pointer;
}
.green-button{
    display:block;
    width:66px;
    height:40px;
    position:absolute;
    bottom:10%;
    left:50%;
    background-image:url(../images/02/down-arrow-green.png);
}

.profile-pic {
    float: left;
    width: 200px;
    /*height: 20px;*/
    margin-right: 8px;
    background-color: linen;
}
#team .profile-box {
    border: 1px solid #CCC;
    max-height: 220px;
    overflow: hidden;
 }
#team .various < img{
    width: 220px;
    height: 255px;
}
#team .profile-bio {
    margin-left: 200px;
    background-color: lime;
}​

#first-transition { background: url(../images/01/01-transition.jpg) 50% 0 no-repeat fixed; }


/* Introduction */
#first .smashinglogo { background: url(../images/smashing-logo.png) 50% 100px no-repeat fixed; min-height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }
#logo-container{
    text-align: center;
    overflow: hidden;
}
#logo{margin-top: 3%;}
#my-first .mintlogo {
    background: url(../images/01/mint-logo.png) 50% 100px no-repeat fixed;
    min-height: 1000px;
    padding: 0;
    width: 100%;
    max-width: 1920px;
    position: relative; margin: 0 auto;
    overflow: hidden;
}
#first article { width: 100%; top: 300px; position: absolute; text-align: center; }
#first article p,
#first article a { color: #ccc; }
#first article a { text-decoration: underline; }
#first article a:hover { color: #fff; }

/* Background Only */
#second { padding: 50px 0;}
#second article { background: url(../images/grain.png) repeat #333; color: #fff; width: 445px; margin-left: 100px; padding: 10px 20px; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1); }
#second article p { margin-bottom: 25px; }
#second article a { color: #ff0;}

#who-we-are { background: url(../images/02/background-white.jpg) 50% 0 no-repeat fixed; }

#who-we-are #easel{
    position: absolute;
    left:7%;
    top: 11%;
}
#who-we-are #result-driven{
    top:23%;
    left:13%;
    position: absolute;
}
#who-we-are #bishop {
    background: url(../images/02/bishop.png) 10% 85% no-repeat fixed;
    min-height: 1000px;
    padding: 0;
    width: 100%;
    max-width: 1920px;
    position: absolute;
    margin: 0 auto;
}
#who-we-are #sound-in-strategy{
    bottom:20%;
    left:12%;
    position: absolute;
}
#who-we-are #sound-strategy {
    background: url(../images/02/sound-strategy.png) transparent 15% 100px no-repeat fixed;
    min-height: 1000px;
    padding: 0;
    width: 100%;
    max-width: 1920px;
    position: absolute;
    margin: 0 auto;
}
#brand-loyalty{
    position:absolute;
    top:40%;
    left:900px;
}
#mint-logo-small{
    position:absolute;
    bottom:10%;
    right:3%;
}

#core-services{
    background: url(../images/06-coreservices.jpg) 50% 0 no-repeat fixed;
}

/* Photograph */
#third article {  background: url(../images/grain.png) repeat #333; color: #fff; padding: 10px 20px; margin: 100px 0 0 60%; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; color: #fff; position: absolute; top: 0; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1); }
#third .photograph { background: url(../images/photo.png) transparent 40% 100px no-repeat fixed; min-height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }
#third article p { width: 300px; margin-bottom: 25px; }

#second { background: url(../images/slide2.jpg) 50% 0 no-repeat fixed; }

/* Home Slide */
#my-first { background: url(../images/01/background-green.jpg) 50% 0 no-repeat fixed; }
#my-first .smashinglogo { background: url(../images/01/mint-logo.png) 50% 100px no-repeat fixed; min-height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }
#my-first article { width: 100%; top: 300px; position: absolute; text-align: center; }
#my-first article p,
#my-first article a { color: #ccc; }
#my-first article a { text-decoration: underline; }
#my-first article a:hover { color: #fff; }

#my-first-transition { background: url(../images/01/01-transition.jpg) 50% 0 no-repeat fixed; }

/* Our Mission */
#mission {
    background: url(../images/03/background-green-glow.jpg) 50% 0 no-repeat fixed;
    margin: 0 auto;
    text-align: center;
}
#mission #our-mission-is{
    top: 15%;
    position: relative;
    display: inline-block;
    left: 30%;
}
#mission #evolve-brands{
    top: 33%;
    position: relative;
    left: -8%;
}
#mission #mint-leaf{
    top:55%;
    left: -37%;
    position:relative;
}
#mission .nav-button{
    left: 49%;
}
#mission-transition { background: url(../images/02/02-transition.jpg) 50% 0 no-repeat fixed; }

/* Leadership */
#leadership {
    background: url(../images/04/background-white.jpg) 50% 0 no-repeat fixed;
    z-index: 898;
}

#leadership .leadership-text{
    top: 40%;
    position: absolute;
}
#leadership #leadership-gale{position: absolute;bottom:-4%}
#leadership #leadership-gale-text{position:absolute; bottom: 45%; left: 50%;}
#leadership #leadership-learn-more{ position: absolute; bottom: 40%; cursor: pointer;}
#leadership #leadership-experience{position: absolute; bottom: 30%}
#leadership-bio {
    display: none;
    background: url(../images/04A/background-leadership.jpg) 50% 0 no-repeat fixed;
}
#leadership-bio #leadership-back{position: absolute;bottom: 20%;z-index: 1;left: 2%;cursor: pointer;}
#leadership-bio #leadership-gale-bio{position: absolute; top: 20%; left: 40%;}
#leadership-bio .leadership-text{position: absolute; right: 15%;}
#leadership-bio .green-button {bottom: 8%}
#leadership-transition { background: url(../images/02/02-transition.jpg) 50% 0 no-repeat fixed; }

/* Team */

#team{background: url(../images/01/background-green.jpg) 50% 0 no-repeat fixed; }
#team-transition { background: url(../images/02/02-transition.jpg) 50% 0 no-repeat fixed; }

/* HTML5 Video */
#fourth article {  margin-left: 10%; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; color: #fff; position: absolute; top: 0; }
#fourth article p { width: 300px; margin: 50px 0; }
#fourth video { position: fixed; left: 50%; box-shadow: 0 0 25px rgba(0,0,0,0.7); z-index: 1;}

/* The End */
#theend .byebye { background: url(../images/theend.png) 40% 100px no-repeat fixed; height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }


.sub-page1{
    z-index: 900;
}
.sub-container{
    position: absolute;
    top: 0px;
    width: 100%;
    max-width: 1600px;
    min-width: 960px;
    height: 100%;
    left: 100%;
    overflow: hidden;
    background: #000;
    z-index: 999;
}
.sub-page{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    left: 100%;
    max-width: 1600px;
    min-width: 960px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 0;
}
.greybg{
    background: url(../images/grey_bg.jpg);
    background-position: 50% 0;
    background-repeat: no-repeat;
}

.close-all{
    position: absolute;
    top: 50px;
    right: 50px;
    text-align: center;
    width: 45px;
    height: 45px;
    background-position: right bottom;
    background-color: #000;
    -moz-transition: background-color 0.2s ease 0s;
    -webkit-transition: background-color .2s;
    o-transition: background-color .2s;
}

.close-all:hover{
    background-color: #777;
}
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
#three div.ingress{
    width: 960px;
    margin: 0 auto;
    margin-top: 30px;
}
#wrapper{
    position: fixed;
    height: 1000px;
    width: 100%;
    max-width: 1600px;
    min-width: 960px;
    top: 0;
    overflow: hidden;
}