/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: .875em; line-height: 1.2; background: url(../images/test/appleipad-bg.jpg); background-attachment: fixed;}

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #000000; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 0; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
















/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
    /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
    /* Style adjustments for viewports 768px and over go here */

}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; } /* h5bp.com/t */
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
}

/**
 * GENERAL
 */

#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1000;
}



#entermag{
    height: 40px;
    width: 300px;
    position: absolute;
    top: 58%;
    left: 50%;
    margin-top: -20px;
    text-align: center;
    margin-left: -150px;
    color: #fff;
}

#entermag:hover{
    text-decoration: underline;
}

#loaderbar{
    width: 700px;
    margin-left: -350px;
    height: 3px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
}

#entermag a{
    color: #fff;
}

#qLoverlay h1{
    position: absolute;
    top: 20%;
    width: 100%;

}

#qLoverlay p.desc{
    position: absolute;
    top: 30%;
    width: 100%;
}

h1, h2, h3, h4{margin: 0;}

.text{
    padding: 30px;
}

a:link, a:visited, a:active, a:hover{
    color: #000;
    text-decoration: none;
    outline: medium none;
}

a.to-sub:hover{
    text-decoration: underline;
}

.floatleft{
    float: left;
}

.floatright{
    float: right;
}

.clearboth{
    clear: both;
}


.floatleft.fifty{width: 48%; padding-right: 2%;}
.floatright.fifty{width: 48%; padding-left: 2%;}

.droidserif{
    font-family: 'Droid Serif', serif;
    font-weight: lighter;
}

.alfa{
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 2px;
    font-weight: normal;
}

.vollkorn{
    font-family: 'Vollkorn', serif;
    font-style: italic;
    font-weight: lighter;
}

.fatface{
    font-family: 'Abril Fatface', cursive;
    font-weight: normal;
}

.lato{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

.red, a.red{
    color: #c62712;
}

.white, a.white{
    color: #fff;
}

.c363636{
    color: #363636;
}

a span{
    -moz-transition: color .2s;
    -webkit-transition: color .2s;
    o-transition: color .2s;
}
.normal{font-weight: normal;}
.lighter{font-weight: lighter;}
.bold{font-weight: bold;}
.italic{font-style: italic;}
.notitalic{font-style: normal;}
.strike{text-decoration: line-through;}

a:hover span.red{color: #fff;}
a:hover span.white{color: #c62712}


.block{display: block;}
.hidden{display: none; visiblity: hidden;}

.content{
    width: 960px;
    margin: 0 auto;
}

.textleft{
    text-align: left;
}

.textright{
    text-align: right;
}

.textcenter{
    text-align: center;
}

.quotebox{
    display: block;
    margin: 1em 0;
    border-style: solid;
    border-color: #000;
    border-width: 2px 0;
}

.quotes{
    background-image: url(../images/test/quotes.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.quotes.white{
    background-image: url(../images/test/quoteswhite.png);
}

p{
    margin: 1.8em 0;
}

.spanblock span{display: block;}



.dropshadow{-moz-box-shadow: 0 3px 10px #000;}

.inline{display: inline;}

/*
Page main header
*/
header.top{
    z-index: 999;
    position: fixed;
    top: -50px;
    overflow: hidden;
}

header.top section{
    background: #000;
    height: 50px;
    overflow: hidden;
}

header.top h1{
    font-size: 16px;
    line-height: 24px;
}

header.top a:link, header.top a:visited{color: #fff;}


nav ul li a{
    color: #fff;
}

#super{
    position: relative;
    margin: 0 auto;
    width: 1600px;
}

#scrollr-body {
    position: fixed;
    height: 1000px;
    width: 100%;
    max-width: 1600px;
    min-width: 960px;
    top: 0;
    overflow: hidden;
}


.page{
    width: 100%;
    max-width: 1600px;
    min-width: 960px;
    overflow: hidden;
    position: absolute;
    top: 0;
    height: 1000px;
    margin: 0 auto;
    background: #fff;
    background-repeat: no-repeat;
    background-position: 50% 0;
    margin-top: 0px;
    -moz-box-shadow: 0 0 12px #666;
    -webkit-box-shadow: 0 3px 8px #333;
    -o-box-shadow: 0 1px 5px #000;
    box-shadow: 0 1px 5px #000;
}

.innerbg{
    position: absolute;
    width: 100%;
    max-width: 1600px;
    min-width: 960px;
    height: 1000px;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center -183px;
    background-attachment: fixed;
    display: block;
}

.sub-container{
    position: absolute;
    top: 0px;
    width: 100%;
    max-width: 1600px;
    min-width: 960px;
    height: 100%;
    left: 100%;
    overflow: hidden;
    background: #000;
    z-index: 999;
}

.sub-page{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    left: 100%;
    max-width: 1600px;
    min-width: 960px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.w960{
    width: 960px;
    margin: 0 auto;
}

.sprite{
    background-image: url(../images/test/mag1-sprite.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
}

.fontsize11{
    font-size: 11px;
    line-height: 22px;
}

.fontsize14{
    font-size: 14px;
    line-height: 18px;
}

.fontsize18{
    font-size: 18px;
    line-height: 28px;
}

.fontsize22{
    font-size: 22px;
    line-height: 32px;
}

.fontsize32{
    font-size: 32px;
    line-height: 42px;
}

.fontsize60{
    font-size: 60px;
    line-height: 80px;
}

.fontsize85{
    font-size: 85px;
    line-height: 95px;
}

.fontsize100{
    font-size: 100px;
    line-height: 100px;
}

.fontsize120{
    font-size: 120px;
    line-height: 140px;
}

.fontstylenormal{
    font-style: normal;
}

.letterspacing1px{
    letter-spacing: 1px;
}


.threecol{
    width: 100%;
}

.twocol{
    width: 100%;
}

.threecol .twocol{
    width: 66.6%;
}

.threecol .col.floatleft{
    width: 31%;
    padding-right: 2.3%;
}

.threecol .col.floatright{
    width: 31%;
    padding-left: 2.4%;
}

.twocol .col.floatleft, .threecol .twocol .col.floatleft{
    width: 48%;
    padding-right: 2%;
    padding-left: 0;
}

.twocol .col.floatright, .threecol .twocol .col.floatright{
    width: 48%;
    padding-left: 2%;
}

.marginbottom0{
    margin-bottom: 0;
}

.marginbottom10{
    margin-bottom: 10px;
}

.marginright20{
    margin-right: 20px;
}

.marginbottom20{
    margin-bottom: 20px;
}

.marginbottom40{
    margin-bottom: 40px;
}

.marginbottom150{
    margin-bottom: 150px;
}

.marginbottom175{
    margin-bottom: 175px;
}

.uppercase {
    text-transform: uppercase;
}

.greybg{
    background: url(../images/test/grey_bg.jpg);
    background-position: 50% 0;
    background-repeat: no-repeat;
}

.close-all{
    position: absolute;
    top: 50px;
    right: 50px;
    text-align: center;
    width: 45px;
    height: 45px;
    background-position: right bottom;
    background-color: #000;
    -moz-transition: background-color 0.2s ease 0s;
    -webkit-transition: background-color .2s;
    o-transition: background-color .2s;
}

.close-all:hover{
    background-color: #777;

}


/* ONE */
#title-page{
    background-image: url(../images/01/background-green.jpg);
    background-position: 50% 0;
    background-repeat: no-repeat;
    height: 864px;
    z-index: 901;
    text-align: center;
}

.redbanner{
    width: 100%;
    color: #fff;
    font-weight: 100;
    margin-top: 370px;

}

.redbanner h1, .redbanner h2, .redbanner h3{
    margin: 0 auto;
    width: 960px;
    background-image: url(../images/test/mag1-sprite.png);
    background-repeat: no-repeat;
}

#one h1.sprite{
    background-position: 10px -73px;
    height: 17px;
    padding-bottom: 7px;
    border-bottom: 1px solid #fff;
}

#one h2.sprite{

    margin: 20px auto;
    background-position: 50% 0;
    height: 52px;
}

#one h3.sprite{
    background-position: 80px -90px;
    padding-top: 7px;
    border-top: 1px solid #fff;
    height: 25px;
}

#one .logo{
    position: absolute;
    bottom: 100px;
    text-align: center;
    width: 213px;
    height: 35px;
    background-position: right -1109px;
    left: 50%;
    margin-left: -105px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#logo-container{
    text-align: center;
    overflow: hidden;
}
#logo{margin-top: 10%;}

/* TWO */
#first-transition {
    background-image: url(../images/01/01-transition.jpg);
    color: #363636;
    font-size: 11px;
    line-height: 22px;
    z-index: 900;
    height: 864px;
}
#who-we-are {
    background-image: url(../images/test/grey_bg.jpg);
    z-index: 899;
    color: #363636;
    font-size: 11px;
    line-height: 22px;
}

#who-we-are .innerbg{
    background-image: url(../images/test/diagonal-up.png);
    background-position: center -150px;
    background-attachment: fixed;
}


#who-we-are h1{
    color: #000;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

#who-we-are .quotebox{
    padding-left: 50%;
}

#who-we-are blockquote{
    padding: 15px 20px 15px 60px;
}

#who-we-are .inner{
    width: 960px;
    margin: 130px auto 0 auto;
}

/* Leadership */

#leadership {
    height: 1000px;
    background-image: url(../images/04/background-white.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    height: 1000px;
    z-index: 898;
}

#leadership .leadership-text{
    top: 20%;
    left: 35%;
    position: absolute;
}
#leadership #leadership-gale{position: absolute;
    bottom: -4%;
    z-index: 999;
    left: 4%;}
#leadership #leadership-gale-text{position:absolute; bottom: 45%; left: 50%;}
#leadership #leadership-learn-more{ position: absolute; bottom: 40%; left: 45%; cursor: pointer;}
#leadership #leadership-experience{position: absolute; bottom: 30%; left: 50%;}

#leadership div.ingress{
    width: 960px;
    margin: 0 auto;
    margin-top: 30px;
}

#leadership .sub-page .inner{
    margin-top: 170px;
}

.sergei2{
    background-image: url(../images/test/sergeipage2.jpg);

}

#leadership .sergei2 .inner{
    margin-top: 100px;
}

.sergei2 blockquote{
    padding-top: 25px;
}

#leadership .col em{
    font-weight: bold;
}

.sergei4{
    background-image: url(../images/test/sergeipage4.jpg);
}

#leadership .sergei4 .inner{
    margin-top: 170px;
}

#leadership .sergei4 blockquote{
    padding-top: 40px;
}

.sergei6{
    background-image: url(../images/test/sergeipage6.jpg);
}

#leadership .sergei6 .inner{
    margin-top: 280px;
}

#leadership .sergei6 blockquote{
    padding-top: 5px;
    padding-left: 50px;
}

.sub-page1{
    z-index: 900;
}

.sub-page2{
    z-index: 901;
}

.sub-page3{
    z-index: 902;
}

.sub-page4{
    z-index: 903;
}



/*four*/
#four{
    background-image: url(../images/test/slide4_bg.jpg);
    height: 2520px;
    z-index: 897;
}

#four .inner{
    width: 960px;
    margin: 765px auto 0 auto;

}



#video{
    margin-top: 20px;
    padding: 10px;
    background: #fff;
    overflow: hidden;
    display: block;
}

#video iframe{
    display: block;
    border: 0;
}


/*Five*/

#five{
    background-image: url(../images/test/grey_bg.jpg);
    background-position: 50% 0;
    background-repeat: no-repeat;
    height: 1000px;
    z-index: 896;
    font-size: 11px;
    line-height: 22px;
}

#five .innerbg{
    background-image: url(../images/test/diagonal-down.png);
}

#five .inner{
    width: 960px;
    margin: 100px auto 0 auto;
}

#five .quotebox{
    clear:both;
    position:relative;
    left: -111%;
    width: 211%
}

#five h1{
    margin-bottom: 30px;
}

#five blockquote{
    background-position: 0 10px;
    margin-bottom: 0;
    padding: 15px 0 15px 60%;
}

#five .quotes{
    background-position: 56% 13px;
}

/**
* SIX
*/

#six{
    background-image: url(../images/test/slide6_bg.jpg);
    height: 1000px;
    z-index: 895;
}


#six .inner{
    margin-top: 130px;
}

#six h1.sprite{
    width: 100%;
    height: 22px;
    background-position: 0 -131px;
}


#six h2.sprite{
    width: 100%;
    height: 197px;
    background-position: 0 -155px;
}

#six .sprite{
    margin-bottom: 20px;
}

#six .sub-page.first{
    background-image: url(../images/test/slide6_sub1_bg.jpg);
}

#six blockquote{
    padding-top: 50px;
    background-position: 0 10px;
    margin-bottom: 0;
}

/* seven
*/


#seven{
    background-image: url(../images/test/slide7_bg.jpg);
    background-position: 50% 0;
    background-repeat: no-repeat;
    height: 2140px;
    z-index: 894;
}

#seven .inner{
    margin-top: 180px;
}

#seven .preface{
    width: 570px;
}

#seven .quotebox{
    width: 470px;
    padding: 0 15px;
}

#seven .quotes{
    padding-top: 70px;
    padding-bottom: 30px;
    background-position: right 20px;
}

#seven .eameschair{
    position: absolute;
    top: 50px;
    left: 56%;
}

#seven .images .top img{
    padding-top: 33px;
    border-color: transparent;
    border-style: solid;
    border-width: 1px 0 0 0;
}

#seven .images .top img.floatleft{
    border-color: #000;
}

/* EIGHT
    */

#eight{
    background-image: url(../images/test/slide8_bg.jpg);
    z-index: 893;
}

#eight .inner, #eight .sub-page .inner{
    margin-top: 100px;
}

#eight p.sprite {
    margin: 0;
}

#eight h1.sprite{
    background-position: 0 -365px;
    width: 530px;
    height: 220px;
    margin-left: -100px;
    margin-bottom: 20px;
}



#eight .sub-page.first{
    background-image: url(../images/test/slide8_sub1_bg.jpg);
    background-position: 50% 0;
    background-repeat: no-repeat;
}

#eight h2.sprite,
#eight p.sprite{
    background-position: right -589px;
    width: 100%;
    height: 220px;
    margin-bottom: 20px;
}

/* NINE
*/

#nine{
    background-image: url(../images/test/slide9_bg.jpg);
    z-index: 892;
}

#nine .inner{
    margin-top: 385px;
    text-align: center;
}

#nine h1.sprite,
#nine h2.sprite,
#nine h3.sprite,
#nine h4.sprite,
#nine p.sprite{
    background-position: 0 -804px;
    height: 22px;
    width: 320px;
    margin: 0 auto 5px auto;
}

#nine .sub-page.first{
    background-image: url(../images/test/slide9_sub1_bg.jpg);
}

#nine .sub-page.first .inner{
    margin-top: 100px;
}

#nine .twocol{
    margin: 0 auto;
    width: 590px;
}

#nine .fontsize85 {
    margin: 0;
}

/* TEN
*/

#ten{
    background-image: url(../images/test/grey_bg.jpg);
    z-index: 891;
}

#ten .inner{
    margin-top: 125px;
}

#ten h1.sprite{
    background-position: 0 -1069px;
    width: 427px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
}

#ten .social, #mobileonly .social{
    width: 35px;
    height: 30px;
    background-color: #000;
    background-position: -10px bottom;
    display: inline-block;
    -moz-transition: background-color .2s;
    -webkit-transition: background-color .2s;
    o-transition: background-color .2s;
}

#ten .fb, #mobileonly .fb{
    background-position: -115px bottom;
}

#ten .social:hover, #mobileonly .social:hover{
    background-color: #777;
}


/**
* Eleven
*/

#eleven{

    background: transparent;
    z-index: 890;
}

#mobileonly{

    display: none;
    visibility: hidden;
}


/**
* TOC
*/

#toc{
    background: #000;
    box-shadow: 0 1px 5px #000000;
    margin: 0 auto 0;
    max-width: 1600px;
    min-width: 960px;
    position: absolute;
    top: 0;
    margin-top: -500px;
    width: 100%;
    z-index: 999;

    height: 500px;
}

#toc h1{margin: 60px 0 50px 0;}

#toc p.sprite{
    position: absolute;
    bottom: 70px;
    text-align: center;
    width: 213px;
    height: 35px;
    background-position: right -1109px;
    left: 50%;
    margin-left: -105px;
    margin-top: 0;
    margin-bottom: 0;
}

#toc .twocol{
    width: 700px;
    margin: 15px auto 60px auto;
    padding-left: 100px;
}

#toc a{
    color: #fff;
    display: block;
}

#toc a:hover{
    text-decoration: underline;
}

#flerp{
    position: absolute;
    background: #000;
    top: 500px;
    right: 0;
    box-shadow: 0 1px 5px #000000;
    width: 125px;
    text-align: center;
    display: block;
    padding: 15px 0;
    color: #fff;
}

#toc .followus {
    text-align: center;
    position: relative;
    bottom: -80px;
}

#toc .followus a {
    display: inline;
}




#scrollto{position: relative;}

#scrollto a{}





.content ul{

}





a.close-sub{
    position: absolute;
    top: 10px;
    left: 500px;
}

a.to-sub{

}

a.square{
    height: 110px;
    width: 80px;
    position: absolute;
    right: 0;
    top: 435px;
    -moz-transition: background-color .2s;
    -webkit-transition: background-color .2s;
    o-transition: background-color .2s;
}

a.square.black{
    background-color: #000;
}

a.square.black.next{
    background-position: 50px -840px;
}

a.square.black.prev{
    background-position: -150px -840px;
}

a.square.black:hover{
    background-color: #777;
}

a.square.white{
    background-color: #fff;
}



a.square.white{
    background-position: -130px -915px;
}

a.square.white.next{
    background-position: 50px -915px;
}

a.square.white:hover{
    background-color: #ccc;
}



a.prev, a.next{
}

a.prev{
    left: 0px;
}

footer{
    position: fixed;
    z-index:990;
    background: #fff;
    padding: 10px;
    width: 100%;
    height: 30px;
    color: #000;
    left: 0;
    bottom: 0;
    text-align: center;
}

/* CJ Additions */
#leadership-bio {
    /*display: none;*/
    /*background: url(../images/04A/background-leadership.jpg);*/
    /*background-position: 50% 0;*/
    /*background-repeat: no-repeat;*/
    background: url(../images/04A/background-leadership.jpg) 50% 0 no-repeat fixed;
}
#leadership-bio #leadership-back{position: absolute;bottom: 20%;z-index: 1;left: 2%;cursor: pointer;}
#leadership-bio #leadership-gale-bio{position: absolute; top: 20%; left: 42%;}
#leadership-bio .leadership-text{position: absolute; right: 15%; top: 5%;}
#leadership-bio .green-button {bottom: 8%}

