RewriteEngine On
php_flag engine off
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^([a-z]+-?[a-z]+)/gm gm.html
DirectoryIndex general.html

AddType text/x-component .htc
AddType application/x-shockwave-flash .swf