#gm-campus-cruze {
    background: url(../images/gm-slices/cruze/cruzeback.jpg) 50% 0 no-repeat fixed;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
    height: auto;
}
.vehicle{
    position: absolute;
    max-width: 80%;
    z-index: 3;
}
#cruze-left-menu{
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 100%;
    left: 0;
    margin-top: 100%;
}
#cruze-header{
    position: absolute;
    width: 100%;
}
.headlights{
    position: absolute;
    max-width: 80%;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 6;
}
#spark-left-menu{
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 100%;
    left: 0;
}
#gm-campus-spark {
    background: url(../images/gm-slices/spark/sparkback.jpg) 50% 0 no-repeat fixed;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
    height: auto;
}
#gm-campus-sonic {
    background: url(../images/gm-slices/sonic/background.png) 50% 0 no-repeat fixed;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
    height: auto;
}
#sonic-vehicle, #sonic-headlights{
    top: -3%;
}
#sonic-left-menu{
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 100%;
    z-index: 3;
    left: 0;
}
.sonic-headlights{
    position: absolute;
    max-width: 80%;
    /*right: 0;*/
    /*bottom: 0;*/
    display: none;
    z-index: 6;
}
#sonic-map{
    position: absolute;
    max-width: 100%;
    z-index:2;
    top: 0;
}
#sonic-calendar{
    position: absolute;
    max-width: 100%;
    top: 0;
}
#sonic-map-lit{
    position: absolute;
    max-width: 100%;
    z-index:2;
    display: none;
    top: 0;
}
.gm-slide-header{
    position: absolute;
    width: 100%;
}
#sonic-cursor{
    position: absolute;
    max-width: 100%;
    z-index: 10;
}

#excitement{
    background: url(../images/15/00.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0%;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#excitement-text{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 5%;
}
#excitement-sign-drive{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 10%;
}
#win-win{
    background: url(../images/17/background-green.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#win-win-text{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 25%;
}
#always-win-text{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 15%;
}
#win-win-container{
    margin: 0 auto;
    display: table;
    top: 30%;
    position: relative;
}
#win-win-case{
    color: #FFF;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
}
#win-win-case li{
    margin-top: 35px;
}