body{
    font-family: Verdana, Geneva, sans-serif;
    color: #FFF;
}
.image-container {max-width: 40%;}
.full-width{ width: 100%; }
.center{text-align: center;}
.wrapper{overflow: hidden;}
.block {text-align: center;margin: 0px;}
.block:before { content: '';display: inline-block;height: 100%;vertical-align: middle;margin-right: -0.25em;}

.centered {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 15px;
}
li{margin-top: 3px;}
.story {
    height: 864px;
    padding: 0;
    width: 100%;
    max-width: 1920px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
.transition{ height:700px; margin: 0 auto; width: 100%; }
.compass-transition{
    background: url(../images/compass-transition.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
.leaf-transition{
    background: url(../images/leaf-transition.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
.scene {
    position: fixed;
    width: 940px;
    overflow: hidden;
}
.scene>img {
    position: absolute;
}
.white-button {
    background-image:url(../images/01/down-arrow-white.png);
}
.green-button{
    background-image:url(../images/02/down-arrow-green.png);
}
.up-button{
    background-image:url(../images/02/up-arrow-green.png);
}
.white-button:hover, .green-button:hover{
    cursor:pointer;
}
.downBtn {
    position: absolute;
    display: block;
    left: 50%;
    bottom: 5%;
    margin-left: -25px;
    display: block;
    z-index: 1000;
    height: 40px;
    width: 66px;
}
#scrollToTop{
    position: absolute;
    display: block;
    left: 50%;
    bottom: 5%;
    margin-left: -25px;
    display: block;
    z-index: 1000;
    height: 40px;
    width: 66px;
    cursor: pointer;
}

/* Team */
.teamMemberPlaceholder{
    display: none;
    width: 650px;
}
#team{
    background: url(../images/01/background-green.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#team .pics-container {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 10%;
    position: relative;
    text-align: center;
}
.specialty_list li{
    margin-left: 25px;
}
.teamMemberDialog{
    position: relative;
}
#team .banner{
    top: 0;
    width: 100%;
    height: 100px;
    overflow: hidden;
    background-image: url(../images/05/headerbar.png);
}
.teamMemberDialog .banner{
    overflow: hidden;
    height: 100px;
    background: url(../images/05/headerbar.png);
    -webkit-box-shadow: 0px 4px 7px rgba(50, 50, 50, 0.55);
    -moz-box-shadow:    0px 4px 7px rgba(50, 50, 50, 0.55);
    box-shadow:         0px 4px 7px rgba(50, 50, 50, 0.55);
    behavior: url(PIE.htc);
}
.teamTextPic{
    position: absolute;
    top: 45px;
    left: 10px;
    font-size:2.0em;
}
.bannerLeaf{
    position: relative;
    left: 45%;
    height: 345px;
    z-index: 1;
}
.teamMember{
    z-index:1000;
}
.profile-pic {
    float: left;
    width: 200px;
    margin-right: 8px;
    margin-top: 10px;
}
.teamMember .profile-details{
    margin-top: 8px;
    font-size: 1.1em;
    font-family: 'Lato', sans-serif;
}
.teamMember .main {

}
.teamMember .profile-details span{
    margin-top: 20px;
}
#team .profile-box {
    max-height: 220px;
    margin: 2px;
    height: 175px;
    overflow: hidden;
    background: url(../images/05/profile-box.png) no-repeat fixed;
}
#team .various < img{
    /*width: 220px;
    height: 255px;*/
    max-width: 95%;
}
#team .profile-bio {
    margin-left: 200px;
    background-color: lime;
}​
.ui-tooltip, .arrow:after {
     background: black;
     border: 2px solid white;
 }
.ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
    width: 135px;
    max-width: 135px;
}
.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}

#logo-container{
    text-align: center;
    overflow: hidden;
}
/*#logo{margin-top: 3%;}*/

#first article { width: 100%; top: 300px; position: absolute; text-align: center; }
#first article p,
#first article a { color: #ccc; }
#first article a { text-decoration: underline; }
#first article a:hover { color: #fff; }

#who-we-are {
    background: url(../images/02/background-white.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#who-we-are .banner{
    background-image: url(../images/02/header.jpg);
    background-size: 1700px 200px;
    background-repeat: no-repeat;
    top: 0;
    width: 100%;
    height: 200px;
    left: 0;
    right: 0;
    overflow: hidden;
}
#who-we-are #easel{
    position: relative;
    left: 7%;
    margin-top: -3%;
}
#who-we-are #result-driven{
    top:23%;
    position: relative;
}
#who-we-are #bishop {
    position: relative;
    max-width: 95%;
    margin-top: -45%;
}
#who-we-are #sound-in-strategy{
    top: 65%;
    left: -32%;
    position: relative;
}
#who-we-are #sound-strategy {
    background: url(../images/02/sound-strategy.png) transparent 15% 100px no-repeat fixed;
    min-height: 1000px;
    padding: 0;
    width: 100%;
    max-width: 1920px;
    position: absolute;
    margin: 0 auto;
}
#brand-loyalty{
    position:relative;
    top:40%;
    left: 15%;
    max-width: 95%;
}
.mint-logo-small{
    position:absolute;
    bottom:5%;
    right:5%;
    width: 130px;
    height: 67px;
}

.mint-logo-small.green {
    background-image: url(../images/mint-logo-small-green.png);
}

.mint-logo-small.white {
    background-image: url(../images/mint-logo-small-white.png);
}

#core-services{
    background: url(../images/06/green-background.jpg) 50% 0 no-repeat fixed;
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}

#core-services .digital-campaigns{
    position: relative;
    margin-top: 55%;
    margin-left: 10%;
    /*max-width: 90%;*/
}
#core-services .amp{
    position: absolute;
    top: 45%;
    /*left: 45%;*/
}
#core-services .core-services{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 5%;
}
#core-services .spotlights{
    position: relative;
    left: 15%;
}
#core-services .exp-marketing-text{
    margin-left: 25%;
    margin-top: -20%;
    position: relative;
}
#core-services-roundup {
    background: url(../images/07/background-white.jpg) 50% 0 no-repeat fixed;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#core-services-roundup .banner{
    top: 0;
    width: 100%;
    height: 100px;
    background-image: url(../images/07/headerbar-green.png);
    left: 0px;
    right: 0px;
    overflow: hidden;
}

#core-services-roundup .service{
    opacity: 0;
}
#core-services-roundup .corporate-identity{
    position: relative;
}
#core-services-roundup .content-management{
    position: relative;
}
#core-services-roundup .exp-marketing{
    position: relative;
    margin-top: 5%;
    margin-left: 65%;
}
#core-services-roundup .advertising{
    position: relative;
    margin-top: 15%;
}
#core-services-roundup .public-relations{
    position: relative;
    margin-top: 5%;
    margin-left: -15%;
}
#core-services-roundup .digital-web{
    position: relative;
}
#core-services-roundup .videography{
    position: relative;
    margin-top: 10%;
}
#core-services-roundup .seo{
    position: relative;
    margin-top: 5%;
    margin-left: 40%;
}
#core-services-roundup .market-research{
    position: relative;
    margin-left: 30%;
}
#core-services-roundup .social-media{
    position: relative;
    margin-top: 15%;
    margin-left: 65%;
}
#advertising{
    background: url(../images/07-01/background-purple.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 2000px;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#content-management{
    background: url(../images/07-02/background-orange.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 2000px;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#corporate-identity{
    background: url(../images/07-03/background-teal.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 2000px;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#digital-web{
    background: url(../images/07-04/background-lightblue.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 2000px;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#experiential-marketing{
    background: url(../images/07-05/background-red.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 2000px;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#market-research{
    background: url(../images/07-06/background-lightgreen.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 2000px;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#public-relations{
    background: url(../images/07-07/background-brown.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 2000px;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#seo{
    background: url(../images/07-08/background-yellow.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 2000px;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#social-media{
    background: url(../images/07-09/background-gray.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 2000px;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#video-production{
    background: url(../images/07-10/background-magenta.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 2000px;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#video-production-text{
    position: absolute;
    /*margin-top: 55%;*/
}
#camera{
    position: absolute;
    left: -20%;
    top: -30%;
}
.inner img{
    top: 30%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.inner #icons{
    margin-top: 3%;
}
.inner{ text-align: center;}
.inner .text{
    color: #fff;
    font-size: 1.5em;
    margin-top: 5%;
    line-height: 1.3em;
}
.fluid{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    top: 30%;
    position: relative;
}
.fluid [class*="span"]:first-child {
    margin-left: 0;
}
.fluid .fullRow {
    width: 100%;
}
#our-process{
    background: url(../images/08/background-green.jpg) 50% 0 no-repeat fixed;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#our-process #our-process-text{
    top: 5%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#our-process .row-fluid .span3{
    text-align: center;
    margin-top: 5%;
}
.our-process-div{
    text-align: center;
    margin-left: 0px;
    margin-top: 15px;
    font-size: 1.8em;
    font-family: 'Lato', sans-serif;
    line-height: 1.1em;
    display:none;
}
#preferred-text{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    top: 5%;
}
#generations-gap .row-fluid{margin-top: 6%;}
#generations-gap .gap-title{margin-bottom: 2%;}
#generations-gap .span3{ text-align: center;}
#clients{
    background: url(../images/10/background-white.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#clients #client-text{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 50%;
    height: 30px;
}
#portfolio{
    background: url(../images/11/background-green.jpg) 50% 0 no-repeat fixed;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
.portfolio-lone{
    /* todo */
    /*background: url(../images/10/background-white.jpg) 50% 0 no-repeat fixed;*/
}
#portfolio-container{
    margin-top: 5%;
    text-align: center;
}
#portfolio-container .row-fluid{
    margin-bottom: 3%;
}
.portfolio-philanthropy-slider-next {
    position: relative;
    top: 35%;
    /*right: 3%;*/
    cursor: pointer;
}
.portfolio-philanthropy-slider-prev {
    position: relative;
    top: 35%;
    /*right: 3%;*/
    cursor: pointer;
}
#portfolio .contain {
    top: 20%;
    position: relative;
    width: 980px;
}
#portfolio #portfolio-text{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 50%;
    height: 30px;
    margin-top: 20px;
}
#portfolio .container{
    margin-top: 10%;
    position: relative;
}
.portfolio-slider-btn{
    position: relative;
    top: 35%;
    cursor: pointer;
}
.client-name{
    text-align: left;
    color: grey;
    font-size: 2.4em;
    margin: 1%;
    font-family: 'Lato', sans-serif;
}
.mac{
    margin-top: 3%;
    width: 80%;
}
.portfolio-slide{
    background: url(../images/10/background-white.jpg) 50% 0 no-repeat fixed;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
    width: 2000px;
}
#video{
    background: url(../images/12/background-green.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#video #watch{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 20%;
    height: 30px;
    margin-top: 20px;
}
#video #play{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 40%;
}
#video #play-video-container{
    position: relative;
    text-align: center;
    top: 30%;
}
#our-goal{
    background: url(../images/13/background-white.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#spark-emotion{
    position: relative;
}
#our-goal #educate-consumers {
    position: relative;
}
#our-goal #incentive {
    position: relative;
    margin-left: 10%;
}
#our-goal #conversation {
    position: relative;
    margin-left: 15%;
}
#our-goal-text{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 10%;
}
#target-segment{
    background: url(../images/14/00background-cloudpage.jpg) 50% 0 no-repeat fixed;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#target-segment img{
    max-width: 80%;
    z-index: 999;
}
#our-target-text{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 10%;
}
#millenials-text{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 15%;
}
#purchasing-power{
    position: relative;
    margin-top: 20%;
}
#boomers{
    position: relative;
    margin-left: 20%;
}
#digital-ads{
    position: relative;
    margin-top: 5%;
}
#stimulation{
    position: relative;
    margin-top: 15%;
}
#persuade{
    position: relative;
    margin-left: 20%;
}
#high-loyalty{
    position: relative;
    margin-left: 10%;
    margin-top: 15%;
}
#engagement{
    position: relative;
    margin-left: 10%;
    margin-top: 20%;
}
#thank-you{
    background: url(../images/18/background-last.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#thank-you-text{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 35%;
}
/* Home Slide */
#home {
    background: url(../images/01/background-green.jpg) 50% 0 no-repeat fixed;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#home img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
}
#home .mintlogo {
    background: url(../images/01/mint-logo.png) 50% 100px no-repeat fixed;
    min-height: 1000px;
    padding: 0;
    width: 100%;
    max-width: 1920px;
    position: relative; margin: 0 auto;
    overflow: hidden;
}
#logo-container{text-align: center;z-index: 100;position: relative;}
#home #logo{max-width: 50%;}
#home article { width: 100%; top: 300px; position: absolute; text-align: center; }
#home article p,
#home article a { color: #ccc; }
#home article a { text-decoration: underline; }
#home article a:hover { color: #fff; }

/* Our Mission */
#mission {
    background: url(../images/03/background-green-glow.jpg) 50% 0 no-repeat fixed;
    margin: 0 auto;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
#mission-block-text{
    margin-top: -5%;
}
#mission-container{position: relative;}
#mission #our-mission-is {
    top: 15%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#mission #evolve-brands{
    top: 20%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 95%;
}
#mission #mint-leaf{
    top: 30%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#leadership-1 {
    background: url(../images/04/background-white.jpg) 50% 0 no-repeat;
    /*width: 2000px;*/
}
#leadership-2 {
    background: url(../images/04A/background-leadership.jpg) 50% 0 no-repeat;
    /*width: 2000px;*/
}
#leadership {
    background: url(../images/04/background-white.jpg) 50% 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
}
.gale-container{
    bottom: -60px;
    position: relative;
}
.gale-left-container{
    margin-top: 15%;
}
#leadership-1 .leadership-text{
    height: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}
#leadership-2 .leadership-text{
    height: auto;
    margin-top: -1%;
}
#leadership .gale-pic{
    position: absolute;
    bottom: 0;
    height: auto;
    max-width: 65%;
}
#leadership-slider-prev {
    position: relative;
    top: 45%;
    z-index: 999;
    cursor: pointer;
    width: 95px;
}
#leadership #leadership-gale-text{max-width: 80%;}
#leadership #leadership-learn-more
{
    cursor: pointer;
    margin-top: 2%;
    margin-bottom: 2%;
}
#leadership-gale-bio {
    position: relative;
    margin-top: 15%;
    z-index: 999;
    max-width: 85%;
}
#leadership #leadership-experience{
    max-width: 45%;
}
.leadership-slider-next{

}
#wrapper{
    position: fixed;
    height: 1000px;
    width: 100%;
    max-width: 1600px;
    min-width: 960px;
    top: 0;
    overflow: hidden;
}


.btnScrollLeft {
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    box-shadow: -1px 1px 1px rgba(51, 51, 51, 0.18);
    -moz-box-shadow: -1px 1px 1px rgba(51, 51, 51, 0.18);
    -webkit-box-shadow: -1px 1px 1px rgba(51, 51, 51, 0.18);
}
.btnScrollRight {
    border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    box-shadow: -1px 1px 1px rgba(51, 51, 51, 0.18);
    -moz-box-shadow: -1px 1px 1px rgba(51, 51, 51, 0.18);
    -webkit-box-shadow: -1px 1px 1px rgba(51, 51, 51, 0.18);
}
.touchslider-viewport {
    height: 900px;
    overflow: hidden;
}
#services-prev {
    position: absolute;
    top: 45%;
    left: 3%;
    cursor: pointer;
}
#services-next {
    position: absolute;
    top: 45%;
    right: 3%;
    cursor: pointer;
}
#services-menu{
    position: absolute;
    z-index: 1;
    color: #DDD;
    list-style: none;
    width: 25%;
}
#services-menu > li{
    cursor: pointer;
}
#services-menu > li > a{
    color: white;
    text-decoration: none;
}
.services-nav-item-current{
    font-weight: bold;
    margin-left: 5%;
    font-size: 1.2em;
}